/*
	@package rpg mobile friendly portfolio
*/
/*
	Import
	------------------------------------------------
*/
/*
	@package rpg mobile friendly portfolio
*/
/*
	Variables
	------------------------------------------------
*/
/*
	@package rpg mobile friendly portfolio
*/
/*
	Mixins
	------------------------------------------------
*/
/*
	@package rpg mobile friendly portfolio
*/
/*
	Placeholders
	------------------------------------------------
*/
.rpgportfolio-format-image .entry-header {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

.entry-excerpt.image-caption {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(2, 1, 1, 0.5) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(2, 1, 1, 0.5) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(2, 1, 1, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80020101',GradientType=0 );
  /* IE6-9 */ }

/* 
	Outer Containers
	------------------------------------------------
*/
body {
  font: 100% Verdana, Arial, Helvetica, sans-serif;
  background-color: #1F1F1F;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  height: 100%; }
  @media screen and (max-width: 1023px) {
    body.no-scroll {
      overflow-y: hidden; } }

html {
  height: 100%; }

.twoColumnBody #container {
  width: 99%;
  background: #F8F8FF;
  margin: 0 auto;
  border-top: 1px solid #000000;
  text-align: left; }
  @media screen and (min-width: 1024px) {
    .twoColumnBody #container #mainContent {
      margin: 0 20px 0 26%; } }
  @media screen and (max-width: 1023px) {
    .twoColumnBody #container #mainContent {
      margin: 0 20px 0 0; } }
  @media screen and (max-width: 768px) {
    .twoColumnBody #container #mainContent {
      margin: 0; } }
  @media screen and (max-width: 768px) {
    .twoColumnBody #container {
      margin-right: 0;
      margin-left: 0;
      border: none; } }

.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

/* 
	Header
	------------------------------------------------
*/
.twoColumnBody #header {
  background-color: #1F1F1F;
  padding: 0 10px;
  width: 100%;
  border-bottom: 1px solid #000000;
  display: block; }
  .twoColumnBody #header .leftMainMenu .menu {
    padding-left: 0; }
  .twoColumnBody #header .leftMainMenu ul {
    position: absolute; }
    .twoColumnBody #header .leftMainMenu ul li {
      list-style-type: none;
      list-style: none;
      margin: 0;
      padding: 0;
      float: left; }
      .twoColumnBody #header .leftMainMenu ul li.current-menu-item a {
        color: #0073aa; }
      .twoColumnBody #header .leftMainMenu ul li a {
        -webkit-transition: all 320ms ease;
        -moz-transition: all 320ms ease;
        -ms-transition: all 320ms ease;
        -o-transition: all 320ms ease;
        transition: all 320ms ease;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: #FFFFFF;
        margin-left: 10px;
        margin-right: 10px; }
        .twoColumnBody #header .leftMainMenu ul li a:hover {
          color: #00a0d2; }
        .twoColumnBody #header .leftMainMenu ul li a:active {
          color: #124964; }
  @media screen and (max-width: 1023px) {
    .twoColumnBody #header .leftMainMenu {
      display: none; } }
  .twoColumnBody #header .sideBarIcon {
    display: none; }
    .twoColumnBody #header .sideBarIcon #iconDiv {
      -webkit-transition: all 320ms ease;
      -moz-transition: all 320ms ease;
      -ms-transition: all 320ms ease;
      -o-transition: all 320ms ease;
      transition: all 320ms ease;
      color: #0073aa;
      border: 3px solid #0073aa;
      border-radius: 5px;
      margin-top: -3px; }
      .twoColumnBody #header .sideBarIcon #iconDiv:hover {
        color: #00a0d2;
        border-color: #00a0d2; }
      .twoColumnBody #header .sideBarIcon #iconDiv:active {
        color: #124964;
        border-color: #124964; }
    @media screen and (max-width: 1023px) {
      .twoColumnBody #header .sideBarIcon {
        display: inline;
        float: left;
        margin: 15px 0 0 10px;
        cursor: pointer; } }
  .twoColumnBody #header #searchform {
    color: #FFFFFF;
    float: right;
    padding: 10px 0; }
    .twoColumnBody #header #searchform #s {
      font-size: 18px;
      width: 160px; }
      @media screen and (max-width: 768px) {
        .twoColumnBody #header #searchform #s {
          font-size: 14px;
          width: 120px;
          margin-top: 2px; } }
    .twoColumnBody #header #searchform #searchsubmit {
      -webkit-transition: all 320ms ease;
      -moz-transition: all 320ms ease;
      -ms-transition: all 320ms ease;
      -o-transition: all 320ms ease;
      transition: all 320ms ease;
      border: none;
      padding: 5px 15px 5px 15px;
      cursor: pointer;
      background: #0073aa;
      color: #fff;
      font-weight: bold;
      border-radius: 5px;
      position: absolute;
      opacity: .1;
      margin-top: 1px; }
      .twoColumnBody #header #searchform #searchsubmit:hover {
        background: #00a0d2;
        opacity: .5; }
      .twoColumnBody #header #searchform #searchsubmit:active {
        background: #124964;
        opacity: .5; }
    .twoColumnBody #header #searchform .dashicons-search {
      background-color: #0073aa;
      margin-top: 1px;
      border-radius: 5px;
      padding: 3px 5px 3px 5px; }
    @media screen and (max-width: 768px) {
      .twoColumnBody #header #searchform {
        margin-right: 20px; } }
  @media screen and (max-width: 768px) {
    .twoColumnBody #header {
      padding: 0; } }

/* 
	Sidebar
	------------------------------------------------
*/
.twoColumnBody #sidebar1 {
  position: fixed;
  float: left;
  width: 26%;
  background-color: #1F1F1F;
  height: 100%;
  border-right: 3px ridge #303030;
  border-top: 1px solid #000000;
  margin-left: 3px;
  overflow-y: auto;
  overflow-x: hidden;
  /* scrollbar for Chrome */ }
  .twoColumnBody #sidebar1::-webkit-scrollbar {
    width: 9px;
    background-color: #0073aa; }
  .twoColumnBody #sidebar1::-webkit-scrollbar-thumb {
    background-color: #124964;
    border-radius: 10px;
    cursor: pointer; }
  .twoColumnBody #sidebar1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #0073aa; }
  .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview {
    float: left;
    padding: 20px;
    text-align: center;
    width: 90%; }
    .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .mobileMenuContainer {
      display: none; }
      .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .mobileMenuContainer .menu {
        padding-left: 0; }
      .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .mobileMenuContainer ul {
        position: relative; }
        .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .mobileMenuContainer ul li {
          list-style-type: none;
          list-style: none;
          margin: 0;
          padding: 0;
          float: left;
          margin-bottom: 10px; }
          .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .mobileMenuContainer ul li.current-menu-item a {
            color: #0073aa; }
          .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .mobileMenuContainer ul li a {
            -webkit-transition: all 320ms ease;
            -moz-transition: all 320ms ease;
            -ms-transition: all 320ms ease;
            -o-transition: all 320ms ease;
            transition: all 320ms ease;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            color: #FFFFFF;
            margin-left: 10px;
            margin-right: 10px; }
            .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .mobileMenuContainer ul li a:hover {
              color: #00a0d2; }
            .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .mobileMenuContainer ul li a:active {
              color: #124964; }
      @media screen and (max-width: 1023px) {
        .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .mobileMenuContainer {
          display: block; } }
    .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .dashicons dashicons-businessman {
      width: 100px;
      height: 100px; }
    .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .image-container {
      display: block;
      width: 100%;
      overflow: hidden;
      text-align: center; }
      @media screen and (max-width: 1023px) {
        .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .image-container {
          border-top: 1px solid #333333; } }
    .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .rpg-profile-picture {
      width: 96px;
      height: 96px;
      overflow: hidden;
      margin: 20px auto 10px auto;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      border: 3px solid #0073aa; }
    .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview img {
      border-radius: 50%;
      border: 1px solid #0073aa; }
    .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview h1.rpg-profile-username,
    .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview h2.rpg-profile-description,
    .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview h2.rpg-profile-social-media {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 100;
      color: #FFFFFF; }
    .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview h1.rpg-profile-username {
      font-size: 24px;
      margin: 0 0 10px; }
    .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview h2.rpg-profile-description {
      font-size: 16px;
      margin: 0 0 20px; }
    .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview h2.rpg-profile-social-media {
      font-size: 16px;
      margin: 0 0 5px; }
    .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .sidebar-link {
      -webkit-transition: all 320ms ease;
      -moz-transition: all 320ms ease;
      -ms-transition: all 320ms ease;
      -o-transition: all 320ms ease;
      transition: all 320ms ease;
      color: #0073aa;
      text-decoration: none; }
      .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .sidebar-link:hover {
        color: #00a0d2;
        text-decoration: none; }
      .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .sidebar-link:active {
        color: #124964;
        text-decoration: none; }
    .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .icons-wrapper {
      display: block;
      margin-left: auto;
      margin-right: auto; }
      .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .icons-wrapper .rpg-profile-icon-sidebar {
        -webkit-transition: all 320ms ease;
        -moz-transition: all 320ms ease;
        -ms-transition: all 320ms ease;
        -o-transition: all 320ms ease;
        transition: all 320ms ease;
        margin-left: 5px;
        margin-right: 5px;
        color: #0073aa; }
        .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .icons-wrapper .rpg-profile-icon-sidebar:hover {
          color: #00a0d2; }
        .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .icons-wrapper .rpg-profile-icon-sidebar:active {
          color: #124964; }
    .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .rpg-profile-sidebar .sideBarIcon {
      display: none; }
      .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .rpg-profile-sidebar .sideBarIcon #iconDiv {
        -webkit-transition: all 320ms ease;
        -moz-transition: all 320ms ease;
        -ms-transition: all 320ms ease;
        -o-transition: all 320ms ease;
        transition: all 320ms ease;
        color: #0073aa;
        border: 3px solid #0073aa;
        border-radius: 5px;
        margin-top: -3px; }
        .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .rpg-profile-sidebar .sideBarIcon #iconDiv:hover {
          color: #00a0d2;
          border-color: #00a0d2; }
        .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .rpg-profile-sidebar .sideBarIcon #iconDiv:active {
          color: #124964;
          border-color: #124964; }
      @media screen and (max-width: 1023px) {
        .twoColumnBody #sidebar1 .rpg-profile-sidebar-preview .rpg-profile-sidebar .sideBarIcon {
          display: block;
          width: 100%;
          z-index: 9999;
          cursor: pointer; } }
  .twoColumnBody #sidebar1 #sidebar-widget {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #FFFFFF;
    border: 1px solid #303030; }
    .twoColumnBody #sidebar1 #sidebar-widget a {
      -webkit-transition: all 320ms ease;
      -moz-transition: all 320ms ease;
      -ms-transition: all 320ms ease;
      -o-transition: all 320ms ease;
      transition: all 320ms ease;
      text-decoration: none;
      color: #0073aa; }
      .twoColumnBody #sidebar1 #sidebar-widget a:hover {
        color: #00a0d2; }
      .twoColumnBody #sidebar1 #sidebar-widget a:active {
        color: #124964; }
    .twoColumnBody #sidebar1 #sidebar-widget ul li {
      list-style-type: none;
      list-style: none; }
    .twoColumnBody #sidebar1 #sidebar-widget h2 {
      margin: 0;
      padding-top: 5px;
      padding-bottom: 5px; }
    .twoColumnBody #sidebar1 #sidebar-widget .rpg-portfolio-widget-title {
      text-align: center;
      color: #FFFFFF;
      display: block;
      background-color: #303030;
      font: 100% Verdana, Arial, Helvetica, sans-serif;
      font-weight: 800; }
    .twoColumnBody #sidebar1 #sidebar-widget table {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center; }
    .twoColumnBody #sidebar1 #sidebar-widget .widget_archive ul {
      padding-left: 0; }
.twoColumnBody .sidebar-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1F1F1F;
  position: fixed;
  z-index: 3;
  display: none; }
.twoColumnBody .mobileMenuContainer {
  display: none; }
  @media screen and (max-width: 1023px) {
    .twoColumnBody .mobileMenuContainer {
      display: block; } }
@media screen and (max-width: 1023px) {
  .twoColumnBody #sidebar1 {
    display: none; }
    .twoColumnBody #sidebar1.sidebarToggle {
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
      display: block;
      width: 100%;
      z-index: 9999; } }

/* 
	Main Content
	------------------------------------------------
*/
/* Standard Post Format */
#innerMainContent {
  padding: 10px 50px; }
  #innerMainContent #articleContainer hr {
    color: #F0F8FF; }
  #innerMainContent #articleContainer article {
    padding-top: 20px;
    margin-bottom: 20px; }
    #innerMainContent #articleContainer article .entry-meta {
      font-size: 13px;
      font-weight: 200;
      color: #898989;
      text-align: center; }
      #innerMainContent #articleContainer article .entry-meta .standard-entry-meta a {
        font-weight: 500;
        color: #898989;
        -webkit-transition: all 320ms ease;
        -moz-transition: all 320ms ease;
        -ms-transition: all 320ms ease;
        -o-transition: all 320ms ease;
        transition: all 320ms ease; }
        #innerMainContent #articleContainer article .entry-meta .standard-entry-meta a:hover, #innerMainContent #articleContainer article .entry-meta .standard-entry-meta a:focus {
          color: #333333; }
  #innerMainContent #articleContainer .single-article {
    padding-top: 0; }
  #innerMainContent #articleContainer h1 {
    font-size: 36px;
    font-weight: 600;
    text-align: center; }
    #innerMainContent #articleContainer h1 .standard-link-title {
      color: #124964;
      text-decoration: none;
      -webkit-transition: all 320ms ease;
      -moz-transition: all 320ms ease;
      -ms-transition: all 320ms ease;
      -o-transition: all 320ms ease;
      transition: all 320ms ease; }
      #innerMainContent #articleContainer h1 .standard-link-title:hover, #innerMainContent #articleContainer h1 .standard-link-title:focus {
        color: #5F9EA0; }
      #innerMainContent #articleContainer h1 .standard-link-title:active {
        color: #00a0d2; }
    #innerMainContent #articleContainer h1.entry-title {
      line-height: 1.5em;
      margin: 0;
      padding: 0; }
    @media screen and (max-width: 768px) {
      #innerMainContent #articleContainer h1 {
        font-size: 18px; } }
  #innerMainContent #articleContainer img {
    display: block;
    margin: 10px auto;
    border: 3px outset #333333; }
  #innerMainContent #articleContainer .standard-featured-link img {
    width: 80%; }
  #innerMainContent #articleContainer .button-container {
    text-align: center;
    margin-top: 20px; }
    #innerMainContent #articleContainer .button-container .btn-rpgportfolio {
      -webkit-transition: all 320ms ease;
      -moz-transition: all 320ms ease;
      -ms-transition: all 320ms ease;
      -o-transition: all 320ms ease;
      transition: all 320ms ease;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 300;
      color: #FFFFFF;
      text-decoration: none;
      padding: 8px 12px;
      border-radius: 5px;
      border: 1px solid #898989;
      background-color: #124964; }
      #innerMainContent #articleContainer .button-container .btn-rpgportfolio:hover, #innerMainContent #articleContainer .button-container .btn-rpgportfolio:focus {
        color: #1F1F1F;
        border-color: #333333;
        background-color: #5F9EA0; }
  #innerMainContent #articleContainer .entry-footer {
    padding: 20px 5px;
    border-bottom: 4px solid #898989; }
    #innerMainContent #articleContainer .entry-footer .rpg-profile-icon-footer {
      color: #898989; }
    #innerMainContent #articleContainer .entry-footer a {
      margin-left: 10px;
      text-decoration: none;
      text-transform: uppercase;
      color: #898989;
      -webkit-transition: all 320ms ease;
      -moz-transition: all 320ms ease;
      -ms-transition: all 320ms ease;
      -o-transition: all 320ms ease;
      transition: all 320ms ease; }
      #innerMainContent #articleContainer .entry-footer a:hover, #innerMainContent #articleContainer .entry-footer a:focus {
        color: #333333;
        font-weight: 500; }
    @media screen and (max-width: 768px) {
      #innerMainContent #articleContainer .entry-footer {
        font-size: 14px; } }
  #innerMainContent #articleContainer .post-nav-left {
    float: left;
    font-weight: bold; }
    #innerMainContent #articleContainer .post-nav-left a {
      -webkit-transition: all 320ms ease;
      -moz-transition: all 320ms ease;
      -ms-transition: all 320ms ease;
      -o-transition: all 320ms ease;
      transition: all 320ms ease;
      color: #124964;
      text-decoration: none; }
      #innerMainContent #articleContainer .post-nav-left a:hover,
      #innerMainContent #articleContainer .post-nav-left a focus {
        color: #5F9EA0;
        text-decoration: underline; }
      #innerMainContent #articleContainer .post-nav-left a:active {
        color: #00a0d2;
        text-decoration: underline; }
  #innerMainContent #articleContainer .post-nav-right {
    float: right;
    font-weight: bold; }
    #innerMainContent #articleContainer .post-nav-right a {
      -webkit-transition: all 320ms ease;
      -moz-transition: all 320ms ease;
      -ms-transition: all 320ms ease;
      -o-transition: all 320ms ease;
      transition: all 320ms ease;
      color: #124964;
      text-decoration: none; }
      #innerMainContent #articleContainer .post-nav-right a:hover,
      #innerMainContent #articleContainer .post-nav-right a focus {
        color: #5F9EA0;
        text-decoration: underline; }
      #innerMainContent #articleContainer .post-nav-right a:active {
        color: #00a0d2;
        text-decoration: underline; }

/* Image Post Format */
.rpgportfolio-format-image .image-caption-mobile {
  display: none; }
.rpgportfolio-format-image .inner-rpgportfolio-format-image {
  margin: 0 auto; }
  .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-large {
    display: block; }
  .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-tablet {
    display: none; }
  .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-smartphone {
    display: none; }
  @media screen and (max-width: 1076px) {
    .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-large {
      display: none; }
    .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-tablet {
      display: block; }
    .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-smartphone {
      display: none; } }
  @media screen and (max-width: 768px) {
    .rpgportfolio-format-image .inner-rpgportfolio-format-image .image-caption-mobile {
      display: block; }
    .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-large {
      display: none; }
    .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-tablet {
      display: none; }
    .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-smartphone {
      display: block; }
      .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-smartphone h3 {
        text-align: center;
        margin-bottom: 5px; }
        .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-smartphone h3 a {
          text-decoration: none;
          color: #124964;
          -webkit-transition: all 320ms ease;
          -moz-transition: all 320ms ease;
          -ms-transition: all 320ms ease;
          -o-transition: all 320ms ease;
          transition: all 320ms ease; }
          .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-smartphone h3 a:hover, .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-smartphone h3 a:focus {
            color: #5F9EA0; }
          .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-smartphone h3 a:active {
            color: #00a0d2; }
      .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-smartphone .entry-meta {
        margin-bottom: 10px;
        text-shadow: none; }
        .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-smartphone .entry-meta .posted-on, .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-smartphone .entry-meta .posted-in {
          color: #898989; }
        .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-smartphone .entry-meta a {
          font-weight: 500;
          color: #898989;
          -webkit-transition: all 320ms ease;
          -moz-transition: all 320ms ease;
          -ms-transition: all 320ms ease;
          -o-transition: all 320ms ease;
          transition: all 320ms ease; }
          .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-smartphone .entry-meta a:hover, .rpgportfolio-format-image .inner-rpgportfolio-format-image .background-image-smartphone .entry-meta a:focus {
            color: #333333; } }
.rpgportfolio-format-image .entry-header {
  position: relative;
  border: 3px outset #333333; }
.rpgportfolio-format-image .entry-meta {
  text-shadow: 1px 1px #000000; }
  .rpgportfolio-format-image .entry-meta .posted-on {
    color: #F8F8FF; }
.rpgportfolio-format-image h1, .rpgportfolio-format-image .entry-meta, .rpgportfolio-format-image .entry-header {
  color: #FFFFFF; }
  .rpgportfolio-format-image h1 a, .rpgportfolio-format-image .entry-meta a, .rpgportfolio-format-image .entry-header a {
    color: #FFFFFF;
    -webkit-transition: all 320ms ease;
    -moz-transition: all 320ms ease;
    -ms-transition: all 320ms ease;
    -o-transition: all 320ms ease;
    transition: all 320ms ease; }
    .rpgportfolio-format-image h1 a:hover, .rpgportfolio-format-image h1 a:focus, .rpgportfolio-format-image .entry-meta a:hover, .rpgportfolio-format-image .entry-meta a:focus, .rpgportfolio-format-image .entry-header a:hover, .rpgportfolio-format-image .entry-header a:focus {
      color: #333333; }
.rpgportfolio-format-image h1 {
  padding-top: 10px;
  color: #FFFFFF;
  text-shadow: 2px 2px #000000; }
  .rpgportfolio-format-image h1 a {
    text-decoration: none; }
    .rpgportfolio-format-image h1 a:hover, .rpgportfolio-format-image h1 a:focus {
      text-shadow: 2px 2px #F8F8FF; }

.entry-excerpt.image-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0; }
  .entry-excerpt.image-caption p {
    margin: 40px 10px;
    font-size: 16px;
    text-align: center;
    text-shadow: 1px 1px #000000; }

/* Audio Post Format */
.rpgportfolio-format-audio h1 {
  font-size: 30px; }
  .rpgportfolio-format-audio h1.entry-title {
    display: inline-block;
    margin-right: 20px; }
    .rpgportfolio-format-audio h1.entry-title:before, .rpgportfolio-format-audio h1.entry-title:after {
      display: none; }
    .rpgportfolio-format-audio h1.entry-title a {
      color: #124964;
      text-decoration: none;
      -webkit-transition: all 320ms ease;
      -moz-transition: all 320ms ease;
      -ms-transition: all 320ms ease;
      -o-transition: all 320ms ease;
      transition: all 320ms ease; }
      .rpgportfolio-format-audio h1.entry-title a:hover, .rpgportfolio-format-audio h1.entry-title a:focus {
        color: #5F9EA0; }
      .rpgportfolio-format-audio h1.entry-title a:active {
        color: #00a0d2; }
.rpgportfolio-format-audio .entry-meta {
  display: inline-block;
  margin-bottom: 10px; }
  .rpgportfolio-format-audio .entry-meta a {
    font-weight: 500;
    color: #898989;
    -webkit-transition: all 320ms ease;
    -moz-transition: all 320ms ease;
    -ms-transition: all 320ms ease;
    -o-transition: all 320ms ease;
    transition: all 320ms ease; }
    .rpgportfolio-format-audio .entry-meta a:hover, .rpgportfolio-format-audio .entry-meta a:focus {
      color: #333333; }
.rpgportfolio-format-audio .entry-content {
  border: 3px outset #333333; }
  .rpgportfolio-format-audio .entry-content iframe {
    width: 100%;
    height: 166px; }

/* Video Post Format */
.rpgportfolio-format-video .entry-header .rpg-embed-responsive iframe {
  width: 100%;
  border: 3px outset #333333; }
.rpgportfolio-format-video .entry-header .entry-meta {
  text-align: center;
  margin-bottom: 0; }
  .rpgportfolio-format-video .entry-header .entry-meta a {
    font-weight: 500;
    color: #898989;
    -webkit-transition: all 320ms ease;
    -moz-transition: all 320ms ease;
    -ms-transition: all 320ms ease;
    -o-transition: all 320ms ease;
    transition: all 320ms ease; }
    .rpgportfolio-format-video .entry-header .entry-meta a:hover, .rpgportfolio-format-video .entry-header .entry-meta a:focus {
      color: #333333; }
.rpgportfolio-format-video .entry-header h1 {
  font-size: 30px; }
  .rpgportfolio-format-video .entry-header h1.entry-title {
    text-align: center;
    margin-right: 20px; }
    .rpgportfolio-format-video .entry-header h1.entry-title:before, .rpgportfolio-format-video .entry-header h1.entry-title:after {
      display: none; }
    .rpgportfolio-format-video .entry-header h1.entry-title a {
      color: #124964;
      text-decoration: none;
      -webkit-transition: all 320ms ease;
      -moz-transition: all 320ms ease;
      -ms-transition: all 320ms ease;
      -o-transition: all 320ms ease;
      transition: all 320ms ease; }
      .rpgportfolio-format-video .entry-header h1.entry-title a:hover, .rpgportfolio-format-video .entry-header h1.entry-title a:focus {
        color: #5F9EA0; }
      .rpgportfolio-format-video .entry-header h1.entry-title a:active {
        color: #00a0d2; }

/* Gallery Post Format */
#innerMainContent #articleContainer #mobile-gallery {
  display: none; }
  @media screen and (max-width: 768px) {
    #innerMainContent #articleContainer #mobile-gallery {
      display: block; } }
#innerMainContent #articleContainer .rpgportfolio-format-gallery .carousel-inner {
  border: 3px ridge #333333; }
#innerMainContent #articleContainer .rpgportfolio-format-gallery .item img {
  display: block;
  margin: 0 auto;
  border: none;
  height: 500px; }
#innerMainContent #articleContainer .rpgportfolio-format-gallery .entry-header .entry-meta {
  text-align: center;
  margin-bottom: 0; }
  #innerMainContent #articleContainer .rpgportfolio-format-gallery .entry-header .entry-meta a {
    font-weight: 500;
    color: #898989;
    -webkit-transition: all 320ms ease;
    -moz-transition: all 320ms ease;
    -ms-transition: all 320ms ease;
    -o-transition: all 320ms ease;
    transition: all 320ms ease; }
    #innerMainContent #articleContainer .rpgportfolio-format-gallery .entry-header .entry-meta a:hover, #innerMainContent #articleContainer .rpgportfolio-format-gallery .entry-header .entry-meta a:focus {
      color: #333333; }
#innerMainContent #articleContainer .rpgportfolio-format-gallery .entry-header h1.entry-title {
  text-align: center;
  margin-right: 20px; }
  #innerMainContent #articleContainer .rpgportfolio-format-gallery .entry-header h1.entry-title:before, #innerMainContent #articleContainer .rpgportfolio-format-gallery .entry-header h1.entry-title:after {
    display: none; }
  #innerMainContent #articleContainer .rpgportfolio-format-gallery .entry-header h1.entry-title a {
    color: #124964;
    text-decoration: none;
    -webkit-transition: all 320ms ease;
    -moz-transition: all 320ms ease;
    -ms-transition: all 320ms ease;
    -o-transition: all 320ms ease;
    transition: all 320ms ease; }
    #innerMainContent #articleContainer .rpgportfolio-format-gallery .entry-header h1.entry-title a:hover, #innerMainContent #articleContainer .rpgportfolio-format-gallery .entry-header h1.entry-title a:focus {
      color: #5F9EA0; }
    #innerMainContent #articleContainer .rpgportfolio-format-gallery .entry-header h1.entry-title a:active {
      color: #00a0d2; }
#innerMainContent #articleContainer .rpgportfolio-format-gallery .entry-header .carousel-caption {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transform: translate(-20%, 0); }
  @media screen and (max-width: 1023px) {
    #innerMainContent #articleContainer .rpgportfolio-format-gallery .entry-header .carousel-caption {
      transform: translate(-20%, 0); } }
  @media screen and (max-width: 768px) {
    #innerMainContent #articleContainer .rpgportfolio-format-gallery .entry-header .carousel-caption {
      transform: translate(-15%, 0); } }
#innerMainContent #articleContainer .rpgportfolio-format-gallery .entry-header .carousel-control {
  font-size: 30px; }
  #innerMainContent #articleContainer .rpgportfolio-format-gallery .entry-header .carousel-control .glyphicon-chevron-right {
    font-weight: bold;
    font-size: 45px;
    text-shadow: 3px 3px 1px #000000; }
  #innerMainContent #articleContainer .rpgportfolio-format-gallery .entry-header .carousel-control .glyphicon-chevron-left {
    font-weight: bold;
    font-size: 45px;
    text-shadow: 3px 3px 1px #000000; }
@media screen and (max-width: 768px) {
  #innerMainContent #articleContainer .rpgportfolio-format-gallery .entry-header #carousel-example-generic {
    display: none; } }
@media screen and (max-width: 768px) {
  #innerMainContent #articleContainer .rpgportfolio-format-gallery img {
    width: 100%; } }

/* Link Post Format */
#innerMainContent #articleContainer .rpgportfolio-format-link .entry-title a {
  text-decoration: none;
  color: #124964;
  font-size: 30px;
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease; }
  #innerMainContent #articleContainer .rpgportfolio-format-link .entry-title a .link-icon {
    display: block;
    color: #fff;
    width: 35px;
    height: 30px;
    border-radius: 50%;
    background-color: #124964;
    margin: 0 auto;
    line-height: 1em;
    padding-top: 10px;
    -webkit-transition: all 320ms ease;
    -moz-transition: all 320ms ease;
    -ms-transition: all 320ms ease;
    -o-transition: all 320ms ease;
    transition: all 320ms ease; }
    #innerMainContent #articleContainer .rpgportfolio-format-link .entry-title a .link-icon:hover, #innerMainContent #articleContainer .rpgportfolio-format-link .entry-title a .link-icon:focus {
      background-color: #5F9EA0; }
    #innerMainContent #articleContainer .rpgportfolio-format-link .entry-title a .link-icon:active {
      background-color: #00a0d2; }
  #innerMainContent #articleContainer .rpgportfolio-format-link .entry-title a:hover, #innerMainContent #articleContainer .rpgportfolio-format-link .entry-title a:focus {
    color: #5F9EA0; }
  #innerMainContent #articleContainer .rpgportfolio-format-link .entry-title a:active {
    color: #00a0d2; }
  @media screen and (max-width: 768px) {
    #innerMainContent #articleContainer .rpgportfolio-format-link .entry-title a {
      font-size: 18px; } }

/* Single Post */
#featuredContentBox a {
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
  color: #0073aa;
  text-decoration: none; }
  #featuredContentBox a:hover,
  #featuredContentBox a focus {
    color: #5F9EA0;
    text-decoration: underline; }
  #featuredContentBox a:active {
    color: #00a0d2;
    text-decoration: underline; }
#featuredContentBox .aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto; }

#post-single-nav-left {
  font-weight: bold; }
  #post-single-nav-left a {
    -webkit-transition: all 320ms ease;
    -moz-transition: all 320ms ease;
    -ms-transition: all 320ms ease;
    -o-transition: all 320ms ease;
    transition: all 320ms ease;
    color: #124964;
    text-decoration: none; }
    #post-single-nav-left a:hover,
    #post-single-nav-left a focus {
      color: #5F9EA0;
      text-decoration: underline; }
    #post-single-nav-left a:active {
      color: #00a0d2;
      text-decoration: underline; }

#post-single-nav-right {
  font-weight: bold; }
  #post-single-nav-right a {
    -webkit-transition: all 320ms ease;
    -moz-transition: all 320ms ease;
    -ms-transition: all 320ms ease;
    -o-transition: all 320ms ease;
    transition: all 320ms ease;
    color: #124964;
    text-decoration: none; }
    #post-single-nav-right a:hover,
    #post-single-nav-right a focus {
      color: #5F9EA0;
      text-decoration: underline; }
    #post-single-nav-right a:active {
      color: #00a0d2;
      text-decoration: underline; }

/* Page */
.page-content a {
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
  color: #0073aa;
  text-decoration: none; }
  .page-content a:hover,
  .page-content a focus {
    color: #5F9EA0;
    text-decoration: underline; }
  .page-content a:active {
    color: #124964;
    text-decoration: underline; }

/* 
	Footer
	------------------------------------------------
*/
.twoColumnBody #footer {
  border-top: 1px solid #000000;
  padding: 0 10px;
  background-color: #1F1F1F;
  text-align: right; }
  .twoColumnBody #footer #rpg-leftFooterWidget {
    display: inline-block; }
    .twoColumnBody #footer #rpg-leftFooterWidget #rpg-portfolio-footer-one-container {
      display: inline-block;
      text-align: left;
      margin-top: 20px;
      margin-bottom: 30px;
      color: #FFFFFF;
      padding-bottom: 5px;
      border: 1px solid #303030; }
      .twoColumnBody #footer #rpg-leftFooterWidget #rpg-portfolio-footer-one-container a {
        -webkit-transition: all 320ms ease;
        -moz-transition: all 320ms ease;
        -ms-transition: all 320ms ease;
        -o-transition: all 320ms ease;
        transition: all 320ms ease;
        text-decoration: none;
        color: #0073aa; }
        .twoColumnBody #footer #rpg-leftFooterWidget #rpg-portfolio-footer-one-container a:hover {
          color: #00a0d2; }
        .twoColumnBody #footer #rpg-leftFooterWidget #rpg-portfolio-footer-one-container a:active {
          color: #124964; }
      .twoColumnBody #footer #rpg-leftFooterWidget #rpg-portfolio-footer-one-container ul {
        margin: 0 10px; }
        .twoColumnBody #footer #rpg-leftFooterWidget #rpg-portfolio-footer-one-container ul li {
          list-style-type: none;
          list-style: none; }
      .twoColumnBody #footer #rpg-leftFooterWidget #rpg-portfolio-footer-one-container h2 {
        margin: 0; }
      .twoColumnBody #footer #rpg-leftFooterWidget #rpg-portfolio-footer-one-container .rpg-portfolio-widget-title {
        text-align: center;
        color: #FFFFFF;
        display: block;
        background-color: #303030;
        font: 100% Verdana, Arial, Helvetica, sans-serif;
        font-weight: 300; }
      .twoColumnBody #footer #rpg-leftFooterWidget #rpg-portfolio-footer-one-container table {
        margin: 10px 0;
        text-align: center; }
      .twoColumnBody #footer #rpg-leftFooterWidget #rpg-portfolio-footer-one-container .widget_archive ul {
        padding-left: 0; }
  .twoColumnBody #footer #rpg-rightFooter {
    display: inline-block; }
    .twoColumnBody #footer #rpg-rightFooter #rpg-footerMenu {
      margin: 0 20px;
      padding: 0;
      color: #FFFFFF;
      display: inline-block; }
      .twoColumnBody #footer #rpg-rightFooter #rpg-footerMenu p {
        text-align: center;
        margin: 0; }
      .twoColumnBody #footer #rpg-rightFooter #rpg-footerMenu hr {
        margin: 0; }
      .twoColumnBody #footer #rpg-rightFooter #rpg-footerMenu .menu {
        margin: 0; }
      .twoColumnBody #footer #rpg-rightFooter #rpg-footerMenu ul {
        text-align: center;
        padding: 5px; }
        .twoColumnBody #footer #rpg-rightFooter #rpg-footerMenu ul li {
          list-style-type: none;
          list-style: none;
          font-weight: bold; }
          .twoColumnBody #footer #rpg-rightFooter #rpg-footerMenu ul li.current-menu-item a {
            color: #0073aa; }
          .twoColumnBody #footer #rpg-rightFooter #rpg-footerMenu ul li a {
            -webkit-transition: all 320ms ease;
            -moz-transition: all 320ms ease;
            -ms-transition: all 320ms ease;
            -o-transition: all 320ms ease;
            transition: all 320ms ease;
            text-decoration: none;
            color: #FFFFFF; }
            .twoColumnBody #footer #rpg-rightFooter #rpg-footerMenu ul li a:hover {
              color: #00a0d2; }
            .twoColumnBody #footer #rpg-rightFooter #rpg-footerMenu ul li a:active {
              color: #124964; }
    .twoColumnBody #footer #rpg-rightFooter #rpg-copyright {
      margin: 0;
      padding: 0;
      color: #FFFFFF;
      display: inline-block; }
      .twoColumnBody #footer #rpg-rightFooter #rpg-copyright .menu {
        margin: 0; }

/* 
	float related classes
	------------------------------------------------
*/
.fltrt {
  float: right;
  margin-left: 8px; }

.fltlft {
  float: left;
  margin-right: 8px; }

.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px; }

/*# sourceMappingURL=rpg_front_style.css.map */
