/*
	@package rpg mobile friendly portfolio
*/
/*
	Import
	------------------------------------------------
*/
@import 'base/variables';
@import 'base/mixins';
@import 'base/placeholders';


/* 
	Outer Containers
	------------------------------------------------
*/
body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: $primary-black;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: $primary-black;
	height: 100%;
}
html {
	height: 100%;
}
.twoColumnBody {
	#container { 
		width: 99%;
		background: $ghost-white;
		margin: 0 auto; 
		border-left: 3px solid $primary-black;
		border-right: 3px solid $primary-black;
		border-top: 1px solid $primary-black;
		text-align: left; 
	}	
} 

.background-image { background-position: center center; background-size: cover; background-repeat: no-repeat; }

/* 
	Header
	------------------------------------------------
*/
.twoColumnBody {
	#header { 
		background-color: $off-black;  
		padding: 0 10px;  
		width: 100%;
		border-bottom: 1px solid $primary-black;
		display: block;
		
		.leftMainMenu {
			.menu {
				padding-left: 0;
			}
			ul {
				position: absolute;
				li {
					list-style-type: none;
					list-style: none;
					margin: 0;
					padding: 0;
					float: left;
					&.current-menu-item {
						a {
							color: $primary-blue;
						}
					}
					a {
						@include animate( all, 320ms ); 
						font-size: 18px;
						font-weight: bold;
						text-decoration: none;
						color: $white;	
						margin-left: 10px;	
						margin-right: 10px;
						&:hover { color: $hover-blue; }
						&:active { color: $active-blue; }	
					}
				}
			} 
		}	

		#searchform 
		{
			color: $white;
			float: right;
			padding: 10px 0; 

			#s {
				font-size: 18px;
				width: 160px;
			}

			#searchsubmit {
				@include animate( all, 320ms );
				border:none; 
				padding:5px 15px 5px 15px; 
				cursor:pointer; 
				background:$primary-blue; 
				color:#fff; 
				font-weight:bold; 
				border-radius:5px;
				position: absolute; 
				opacity: .1;
				margin-top: 1px;

				&:hover { background: $hover-blue; opacity: .5; }
				&:active { background: $active-blue; opacity: .5; }
			}
			.dashicons-search {
				background-color: $primary-blue;
				margin-top: 1px;
				border-radius:5px;
				padding:3px 5px 3px 5px; 
			}
		}
	} 	
}  

/* 
	Sidebar
	------------------------------------------------
*/
.twoColumnBody {
	#sidebar1 {
		position: fixed;
		float: left; 
		width: 26%; 
		background-color: $off-black; 
		height: 100%;
		border-left: 3px solid $primary-black;
		border-top: 1px solid $primary-black;
		margin-left: 3px;
		overflow-y: auto;
		overflow-x: hidden;

		/* scrollbar for Chrome */
		&::-webkit-scrollbar {
		    width: 9px;
		    background-color: $primary-blue;
		} 

		&::-webkit-scrollbar-thumb {
		    background-color: $active-blue;
		    border-radius:10px;
		    cursor: pointer;
		}

		&::-webkit-scrollbar-track {
		    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		    background-color: $primary-blue;
		}

		.rpg-profile-sidebar-preview {
			float: left;
			padding: 20px; 
			text-align: center;
			width: 90%;

			.dashicons dashicons-businessman {
				width: 100px;
				height: 100px;
			}	
			
			.image-container { display: block; width: 100%; overflow: hidden; text-align: center; }
			.rpg-profile-picture { 
				width: 96px; 
				height: 96px; 
				overflow: hidden; 
				margin: 20px auto 10px auto; 
				background-position: center center; 
				background-repeat: no-repeat; 
				background-size: cover; 
				border-radius: 50%; 
				border: 3px solid $primary-blue;
			}
			img {
				border-radius: 50%; 
				border: 1px solid $primary-blue;
			}

			h1.rpg-profile-username, 
			h2.rpg-profile-description, 
			h2.rpg-profile-social-media { font-family: Arial, Helvetica, sans-serif; font-weight: 100; color: $white; }
			h1.rpg-profile-username { font-size: 24px; margin: 0 0 10px; }
			h2.rpg-profile-description { font-size: 16px; margin: 0 0 20px; }
			h2.rpg-profile-social-media { font-size: 16px; margin: 0 0 5px; }	

			.sidebar-link {
				@include animate( all, 320ms ); 
				color: $primary-blue;
				text-decoration: none;
				&:hover { color: $hover-blue; text-decoration: none; }
				&:active { color: $active-blue; text-decoration: none; }
			}	

			.icons-wrapper {
				display: block;
				margin-left: auto;
				margin-right: auto;

				.rpg-profile-icon-sidebar {
					@include animate( all, 320ms ); 
					margin-left: 5px;
					margin-right: 5px;
					color: $primary-blue;
					&:hover { color: $hover-blue; }
					&:active { color: $active-blue; }
				}
			}						
		}

		#sidebar-widget {
			text-align: left;
			margin-top: 20px;
			margin-bottom: 30px;
			color: $white;
			border: 1px solid $lighter-off-black;
			a {
				@include animate( all, 320ms ); 
				text-decoration: none;
				color: $primary-blue;

				&:hover { color: $hover-blue; }
				&:active { color: $active-blue; }
			}
			ul {
				li {
					list-style-type: none;
					list-style: none;
				}
			}

			h2 {
				margin: 0;
			}

			.rpg-portfolio-widget-title {
				text-align: center;
				color: $white;
				display: block;
				background-color: $lighter-off-black;
				font: 100% Verdana, Arial, Helvetica, sans-serif;
				font-weight: 300;
			}

			table {
				margin-top: 10px;
				margin-bottom: 10px;
				text-align: center;
			}


			.widget_archive {
				ul {
					padding-left: 0;
				}
			}
		}

	}	
}   




/* 
	Main Content
	------------------------------------------------
*/

/* Standard Post Format */
#innerMainContent {
	padding: 10px 50px;

	#articleContainer {


		article { 
			padding-top: 20px; margin-bottom: 20px; 
			.entry-meta { font-size: 13px; font-weight: 200; color: $light-grey; text-align: center;
				.standard-entry-meta a { font-weight: 500; color: $light-grey; 
					@include animate( all, 320ms );
					&:hover,
					&:focus { color: $dark-grey; }		
				}
			}			
		}
		h1 { font-size: 36px; font-weight: 600; text-align: center;
			.standard-link-title { color: $active-blue; text-decoration: none;
				@include animate( all, 320ms ); 
				&:hover,
				&:focus { color: $cadet-blue; }
				&:active { color: $hover-blue; }
			}
			&.entry-title {
				line-height: 1.5em; margin: 0; padding: 0;
			}
		}
		img { display: block; margin: 10px auto; border: 3px outset $dark-grey; width: 100%; }
		.entry-excerpt {
			
		}
		.button-container {
			text-align: center;
			margin-top: 20px;

			.btn-rpgportfolio {
				@include animate( all, 320ms );
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 300;
				color: $white;
				text-decoration: none;
				padding: 8px 12px;
				border-radius:5px;
				border: 1px solid $light-grey;
				background-color: $active-blue;
				&:hover,
				&:focus {
					color: $off-black; border-color: $dark-grey; background-color: $cadet-blue;
				}			
			}
		}
		.entry-footer {
			padding: 20px 5px; border-bottom: 4px solid $light-grey;
			.rpg-profile-icon-footer {
				color: $light-grey;
			}
			a {
				margin-left: 10px; text-decoration: none; text-transform: uppercase; color: $light-grey;
				@include animate( all, 320ms );
				&:hover,
				&:focus {
					color: $dark-grey; font-weight: 500;
				}				
			}
		}
	}
} 



/* Image Post Format */

.rpgportfolio-format-image { 
	.inner-rpgportfolio-format-image { 
		margin: 0 auto; 
		.background-image-large {
			display: block;
		}
		.background-image-tablet {
			display: none;
		}
		.background-image-smartphone {
			display: none;
		}
	}	
	.entry-header { @extend %text-shadow; position: relative; border: 3px outset $dark-grey; }
	.entry-meta {
		 text-shadow: 1px 1px $primary-black;
		.posted-on {
			color: $ghost-white;
		}
	}
	h1, .entry-meta, .entry-header { color: $white;
		a { 
			color: $white; 
			@include animate( all, 320ms );
			&:hover,
			&:focus { color: $dark-grey; }	
		}
	}
	h1 { padding-top: 10px; color: $white; text-shadow: 2px 2px $primary-black;
		a { 
			text-decoration: none; 
			&:hover,
			&:focus { text-shadow: 2px 2px $ghost-white; }	
		}
	}
}
.background-image-large {
	
}
.entry-excerpt {
	&.image-caption { @extend %background-gradient; position: absolute; left: 0; bottom: 0; right: 0; margin: 0;
		p { margin: 40px 10px; font-size: 16px; text-align: center; text-shadow: 1px 1px $primary-black; }
	}
}



/* Audio Post Format */
.rpgportfolio-format-audio {
	h1 { font-size: 30px; 	
		&.entry-title { display: inline-block; margin-right: 20px; &:before, &:after { display: none; }
		
			a { color: $active-blue; text-decoration: none;
				@include animate( all, 320ms ); 
				&:hover,
				&:focus { color: $cadet-blue; }
				&:active { color: $hover-blue; }
			}
			
		}
	}
	.entry-meta { display: inline-block; margin-bottom: 0; 
		a { font-weight: 500; color: $light-grey; 
			@include animate( all, 320ms );
			&:hover,
			&:focus { color: $dark-grey; }		
		}
	}

	.entry-content {
		border: 3px outset $dark-grey;
		
		iframe { width: 100%; height: 166px; }
	}
}

/* Video Post Format */
.rpgportfolio-format-video {
	.entry-header {
		.rpg-embed-responsive {
			iframe { width: 100%; border: 3px outset $dark-grey; }
		}
		.entry-meta { text-align: center; margin-bottom: 0; 
			a { font-weight: 500; color: $light-grey; 
				@include animate( all, 320ms );
				&:hover,
				&:focus { color: $dark-grey; }		
			}
		}
		h1 { font-size: 30px; 	
			&.entry-title { text-align: center; margin-right: 20px; &:before, &:after { display: none; }
			
				a { color: $active-blue; text-decoration: none;
					@include animate( all, 320ms ); 
					&:hover,
					&:focus { color: $cadet-blue; }
					&:active { color: $hover-blue; }
				}
				
			}
		}
	}
}

/* Gallery Post Format */
#innerMainContent {
	#articleContainer {
		.rpgportfolio-format-gallery {
			.carousel-inner {
				 border: 3px ridge $dark-grey;
			}

			.item img{
				display: block; margin: 0 auto; border: none; height: 500px;
			}

			.entry-header {
				.entry-meta { text-align: center; margin-bottom: 0; 
					a { font-weight: 500; color: $light-grey; 
						@include animate( all, 320ms );
						&:hover,
						&:focus { color: $dark-grey; }		
					}
				}
				h1 {	
					&.entry-title { text-align: center; margin-right: 20px; &:before, &:after { display: none; }
					
						a { color: $active-blue; text-decoration: none;
							@include animate( all, 320ms ); 
							&:hover,
							&:focus { color: $cadet-blue; }
							&:active { color: $hover-blue; }
						}
						
					}
				}
				.carousel-caption {
					background: rgba(0, 0, 0, 0.8);
					width: 100%;
					transform: translate(-20%, 0);
				}
				.carousel-control {
					font-size: 30px;

					.glyphicon-chevron-right {
						font-weight: bold;
						font-size: 45px;
						text-shadow: 3px 3px 1px #000000;
					}
					.glyphicon-chevron-left {
						font-weight: bold;
						font-size: 45px;
						text-shadow: 3px 3px 1px #000000;
					}
				}
			}
		}
	}
}

/* 
	Footer
	------------------------------------------------
*/
.twoColumnBody {
	#footer {
		border-top: 1px solid $primary-black;
		padding: 0 10px; 
		background-color: $off-black; 
		text-align: right;

		#rpg-leftFooterWidget {
			display: inline-block;

			#rpg-portfolio-footer-one-container {
				display: inline-block;
				text-align: left;
				margin-top: 20px;
				margin-bottom: 30px;
				color: $white;
				padding-bottom: 5px;
				border: 1px solid $lighter-off-black;
				a {
					@include animate( all, 320ms );
					text-decoration: none;
					color: $primary-blue;

					&:hover { color: $hover-blue; }
					&:active { color: $active-blue; }
				}
				ul {
					margin: 0 10px;
					li {
						list-style-type: none;
						list-style: none;
					}
				}

				h2 {
					margin: 0;
				}

				.rpg-portfolio-widget-title {
					text-align: center;
					color: $white;
					display: block;
					background-color: $lighter-off-black;
					font: 100% Verdana, Arial, Helvetica, sans-serif;
					font-weight: 300;
				}

				table {
					margin: 10px 0;
					text-align: center;
				}

				.widget_archive {
					ul {
						padding-left: 0;
					}
				}

			}
		}

		#rpg-rightFooter {
			
			display: inline-block;

			#rpg-footerMenu {
				margin: 0 20px; 
				padding: 0; 
				color: $white;
				display: inline-block;	

				p {
					text-align: center;
					margin: 0;
				}

				hr {
					margin: 0;
				}

				.menu {
					margin: 0;
				}

				ul {
					text-align: center;
					padding: 5px;

					li {
						list-style-type: none;
						list-style: none;					
						font-weight: bold;
						&.current-menu-item {
							a {
								color: $primary-blue;
							}
						}
						a {
							@include animate( all, 320ms );
							text-decoration: none;
							color: $white;
							&:hover { color: $hover-blue; }
							&:active { color: $active-blue; }
						}
					}
				}		
			}
			#rpg-copyright {

				.menu {
					margin: 0;
				}

				margin: 0; 
				padding: 0; 
				color: $white;
				display: inline-block;
			}
		}	
	} 	
} 


/* Responsive */
/*** Responsive Section ***/
/* laptop+ */
@media screen and (max-width: 1076px) {
	.rpgportfolio-format-image { 
		.inner-rpgportfolio-format-image { 
			.background-image-large {
				display: none;
			}
			.background-image-tablet {
				display: block;
			}
			.background-image-smartphone {
				display: none;
			}
		}
	}	
}
/* Tablet */
@media screen and (min-width: 1024px) {
	.twoColumnBody {
		#mainContent { 
			margin: 0 20px 0 26%;
		}	
	} 
}
@media screen and (max-width: 1023px) {
	#sidebar1 {
		display: none;
	}
	.twoColumnBody {
		#content {
			width: 100%;
		} 
		#mainContent { 
			margin: 0;
		}
	}
	#innerMainContent {
		#articleContainer {
			.rpgportfolio-format-gallery {
				.entry-header {
					.carousel-caption {
						transform: translate(-20%, 0);
					}
				}
			}
		}
	}
}

/* Phone */
@media screen and (max-width:768px) {

	#sidebar1 {
		display: none;
	} 
	#mainContent { 
		margin: 0;
	}
	#innerMainContent {
		#articleContainer {
			.rpgportfolio-format-gallery {
				h1 {
					font-size: 18px;
				}
				.entry-header {
					.carousel-caption {
						transform: translate(-15%, 0);
					}
				}
			}
		}
	}
	.rpgportfolio-format-image { 
		.inner-rpgportfolio-format-image { 
			.background-image-large {
				display: none;
			}
			.background-image-tablet {
				display: none;
			}
			.background-image-smartphone {
				display: block;
				h3 {
					text-shadow: 2px 2px $primary-black;
					a {
						text-decoration: none;
					}
				}
			}
		}
	}
	.twoColumnBody {
		#container { 
			margin-right: 0; 
			margin-left: 0;
			border: none;
		}	
	} 
	.twoColumnBody {
		#header {
			padding: 0;
		}
	}
	#innerMainContent {
		#articleContainer {
			h1 {
				font-size: 18px;
			}
		}
	}
	.entry-footer {
		font-size: 14px;
	}
}


/* 
	Miscellaneous classes for reuse
	------------------------------------------------
*/
.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}