/*
	@package rpg mobile friendly portfolio
*/
/*** Columns ***/
.rpg-profile-sidebar-preview {
	width: 30%;
	float: left;
	background-color: #1F1F1F; 
	padding: 20px; 
	text-align: center;

	.dashicons dashicons-businessman {
		width: 100px;
		height: 100px;
	}

	.image-container { display: block; width: 100%; overflow: hidden; text-align: center; }
	.rpg-profile-picture { 
		width: 96px; 
		height: 96px; 
		overflow: hidden; 
		margin: 20px auto 10px auto; 
		background-position: center center; 
		background-repeat: no-repeat; 
		background-size: cover; 
		border-radius: 50%; 
	}
	img {
		border-radius: 50%; 
	}

	h1.rpg-profile-username, 
	h2.rpg-profile-description, 
	h2.rpg-profile-social-media { font-family: Arial, Helvetica, sans-serif; font-weight: 100; color: #fff; }
	h1.rpg-profile-username { font-size: 24px; margin: 0 0 10px; }
	h2.rpg-profile-description { font-size: 16px; margin: 0 0 20px; }
	h2.rpg-profile-social-media { font-size: 16px; margin: 0 0 5px; }

	.sidebar-link {
		text-decoration: none;
		&:hover { text-decoration: none; }
		&:active { text-decoration: none; }
	}

	.icons-wrapper {
		display: block;
		margin-left: auto;
		margin-right: auto;

		.rpg-profile-icon-sidebar {
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}



.rpg-profile-general-form-container {
	width: 65%;
	float: right;

	.txtProfile {
		width: 80%;
	}
	#upload-button {
		padding: 2px;
		font-weight: bold;
		width: 80%;
	}
	#remove-picture {
		padding: 2px;
		font-weight: bold;
		width: 80%;
	}
}