/*
	@package rpg mobile friendly portfolio
*/
/*
	Import
	------------------------------------------------
*/
@import 'base/variables';


/* 
	Outer Containers
	------------------------------------------------
*/
body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: $primary-black;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: $primary-black;
	height: 100%;
}
html {
	height: 100%;
}
.twoColumnBody {
	#container { 
		width: 99%;
		background: $white;
		margin: 0 auto; 
		border-left: 3px solid $primary-black;
		border-right: 3px solid $primary-black;
		border-top: 1px solid $primary-black;
		text-align: left; 
	}	
} 

/* 
	Header
	------------------------------------------------
*/
.twoColumnBody {
	#header { 
		background-color: $off-black;  
		padding: 0 10px;  
		width: 100%;
		border-bottom: 1px solid $primary-black;
		display: block;
		
		.leftMainMenu {
			.menu {
				padding-left: 0;
			}
			ul {
				position: absolute;
				li {
					list-style-type: none;
					list-style: none;
					margin: 0;
					padding: 0;
					float: left;
					&.current-menu-item {
						a {
							color: $primary-blue;
						}
					}
					a {
						font-size: 18px;
						font-weight: bold;
						text-decoration: none;
						color: $white;	
						margin-left: 10px;	
						margin-right: 10px;
						&:hover { color: $hover-blue; }
						&:active { color: $active-blue; }	
					}
				}
			} 
		}	

		#searchform 
		{
			color: $white;
			float: right;
			padding: 10px 0; 

			#s {
				font-size: 18px;
				width: 160px;
			}

			#searchsubmit {
				border:none; 
				padding:5px 15px 5px 15px; 
				cursor:pointer; 
				background:$primary-blue; 
				color:#fff; 
				font-weight:bold; 
				border-radius:5px;
				position: absolute; 
				opacity: .1;
				margin-top: 1px;

				&:hover { background: $hover-blue; opacity: .5; }
				&:active { background: $active-blue; opacity: .5; }
			}
			.dashicons-search {
				background-color: $primary-blue;
				margin-top: 1px;
				border-radius:5px;
				padding:3px 5px 3px 5px; 
			}
		}
	} 	
}  

/* 
	Sidebar
	------------------------------------------------
*/
.twoColumnBody {
	#sidebar1 {
		position: fixed;
		float: left; 
		width: 26%; 
		background-color: $off-black; 
		height: 100%;
		border-left: 3px solid $primary-black;
		border-top: 1px solid $primary-black;
		margin-left: 3px;
		overflow-y: auto;
		overflow-x: hidden;

		/* scrollbar for Chrome */
		&::-webkit-scrollbar {
		    width: 9px;
		    background-color: #0073aa;
		} 

		&::-webkit-scrollbar-thumb {
		    background-color: #124964;
		    border-radius:10px;
		}

		&::-webkit-scrollbar-track {
		    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		    background-color: #0073aa;
		}

		.rpg-profile-sidebar-preview {
			float: left;
			padding: 20px; 
			text-align: center;
			width: 90%;

			.dashicons dashicons-businessman {
				width: 100px;
				height: 100px;
			}	
			
			.image-container { display: block; width: 100%; overflow: hidden; text-align: center; }
			.rpg-profile-picture { 
				width: 96px; 
				height: 96px; 
				overflow: hidden; 
				margin: 20px auto 10px auto; 
				background-position: center center; 
				background-repeat: no-repeat; 
				background-size: cover; 
				border-radius: 50%; 
				border: 3px solid $primary-blue;
			}
			img {
				border-radius: 50%; 
				border: 1px solid $primary-blue;
			}

			h1.rpg-profile-username, 
			h2.rpg-profile-description, 
			h2.rpg-profile-social-media { font-family: Arial, Helvetica, sans-serif; font-weight: 100; color: $white; }
			h1.rpg-profile-username { font-size: 24px; margin: 0 0 10px; }
			h2.rpg-profile-description { font-size: 16px; margin: 0 0 20px; }
			h2.rpg-profile-social-media { font-size: 16px; margin: 0 0 5px; }	

			.sidebar-link {
				color: $primary-blue;
				text-decoration: none;
				&:hover { color: $hover-blue; text-decoration: none; }
				&:active { color: $active-blue; text-decoration: none; }
			}	

			.icons-wrapper {
				display: block;
				margin-left: auto;
				margin-right: auto;

				.rpg-profile-icon-sidebar {
					margin-left: 5px;
					margin-right: 5px;
					color: $primary-blue;
					&:hover { color: $hover-blue; }
					&:active { color: $active-blue; }
				}
			}						
		}

		#sidebar-widget {
			text-align: left;
			margin-top: 10px;
			margin-bottom: 30px;
			color: $white;
			border: 1px solid $lighter-off-black;
			a {
				text-decoration: none;
				color: $primary-blue;

				&:hover { color: $hover-blue; }
				&:active { color: $active-blue; }
			}
			ul {
				li {
					list-style-type: none;
					list-style: none;
				}
			}

			h2 {
				margin: 0;
			}

			.rpg-portfolio-widget-title {
				text-align: center;
				color: $white;
				display: block;
				background-color: $lighter-off-black;
				font: 100% Verdana, Arial, Helvetica, sans-serif;
				font-weight: 300;
			}

			table {
				margin: 10px 30px;
			}
		}

	}	
}   




/* 
	Main Content
	------------------------------------------------
*/
.twoColumnBody {
	#mainContent { 
		margin: 0 20px 0 26%;
	}	
} 

#innerMainContent {
	padding: 10px 50px;
} 

/* 
	Footer
	------------------------------------------------
*/
.twoColumnBody {
	#footer {
		border-top: 1px solid $primary-black;
		padding: 0 10px; 
		background-color: $off-black; 
		text-align: right;

		#rpg-leftFooterWidget {
			display: inline-block;

			#rpg-portfolio-footer-one-container {
				display: inline-block;
			}
			#rpg-portfolio-footer-two-container {
				display: inline-block;
			}
		}

		#rpg-rightFooter {
			
			display: inline-block;

			#rpg-footerMenu {
				margin: 0 20px; 
				padding: 0; 
				color: $white;
				display: inline-block;	

				p {
					text-align: center;
					margin: 0;
				}

				hr {
					margin: 0;
				}

				.menu {
					margin: 0;
				}

				ul {
					text-align: center;
					padding: 5px;

					li {
						list-style-type: none;
						list-style: none;					
						font-weight: bold;
						&.current-menu-item {
							a {
								color: $primary-blue;
							}
						}
						a {
							text-decoration: none;
							color: $white;
							&:hover { color: $hover-blue; }
							&:active { color: $active-blue; }
						}
					}
				}		
			}
			#rpg-copyright {

				.menu {
					margin: 0;
				}

				margin: 0; 
				padding: 0; 
				color: $white;
				display: inline-block;
			}
		}	
	} 	
} 


/* 
	Miscellaneous classes for reuse
	------------------------------------------------
*/
.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}