/*
	@package rpg mobile friendly portfolio
*/
/*
	Import
	------------------------------------------------
*/
@import 'base/variables';


/* 
	Outer Containers
	------------------------------------------------
*/
body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: $primary-black;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: $primary-black;
	height: 100%;
}
html {
	height: 100%;
}
.twoColumnBody {
	#container { 
		width: 99%;
		background: $white;
		margin: 0 auto; 
		border-left: 3px solid $primary-black;
		border-right: 3px solid $primary-black;
		border-top: 1px solid $primary-black;
		text-align: left; 
	}	
} 

/* 
	Header
	------------------------------------------------
*/
.twoColumnBody {
	#header { 
		background-color: $off-black;  
		padding: 0 10px;  
		width: 100%;
		border-bottom: 1px solid $primary-black;
		display: block;
		
		.leftMainMenu {
			.menu {
				padding-left: 0;
			}
			ul {
				position: absolute;
				li {
					list-style-type: none;
					list-style: none;
					margin: 0;
					padding: 0;
					float: left;
					&.current-menu-item {
						a {
							color: $primary-blue;
						}
					}
					a {
						font-size: 18px;
						font-weight: bold;
						text-decoration: none;
						color: $white;	
						margin-left: 10px;	
						margin-right: 10px;
						&:hover { color: $hover-blue; }
						&:active { color: $active-blue; }	
					}
				}
			} 
		}	

		#searchform 
		{
			color: $white;
			float: right;
			padding: 10px 0; 
			#searchsubmit {
				border:none; 
				padding:4px 10px 5px 10px; 
				cursor:pointer; 
				background:$primary-blue; 
				color:#fff; 
				font-weight:bold; 
				border-radius:5px;

				&:hover { background: $hover-blue; }
				&:active { background: $active-blue; }
			}
		}
	} 	
}  

/* 
	Sidebar
	------------------------------------------------
*/
.twoColumnBody {
	#sidebar1 {
		position: fixed;
		float: left; 
		width: 26%; 
		background-color: $off-black; 
		height: 100%;
		border-left: 3px solid $primary-black;
		border-top: 1px solid $primary-black;
		margin-left: 3px;
		overflow-y: auto;
		overflow-x: hidden;

		.rpg-profile-sidebar-preview {
			float: left;
			padding: 20px; 
			text-align: center;
			width: 90%;

			.dashicons dashicons-businessman {
				width: 100px;
				height: 100px;
			}	
			
			.image-container { display: block; width: 100%; overflow: hidden; text-align: center; }
			.rpg-profile-picture { 
				width: 96px; 
				height: 96px; 
				overflow: hidden; 
				margin: 20px auto 10px auto; 
				background-position: center center; 
				background-repeat: no-repeat; 
				background-size: cover; 
				border-radius: 50%; 
				border: 3px solid $primary-blue;
			}
			img {
				border-radius: 50%; 
				border: 1px solid $primary-blue;
			}

			h1.rpg-profile-username, 
			h2.rpg-profile-description, 
			h2.rpg-profile-social-media { font-family: Arial, Helvetica, sans-serif; font-weight: 100; color: $white; }
			h1.rpg-profile-username { font-size: 24px; margin: 0 0 10px; }
			h2.rpg-profile-description { font-size: 16px; margin: 0 0 20px; }
			h2.rpg-profile-social-media { font-size: 16px; margin: 0 0 5px; }	

			.sidebar-link {
				color: $primary-blue;
				text-decoration: none;
				&:hover { color: $hover-blue; text-decoration: none; }
				&:active { color: $active-blue; text-decoration: none; }
			}	

			.icons-wrapper {
				display: block;
				margin-left: auto;
				margin-right: auto;

				.rpg-profile-icon-sidebar {
					margin-left: 5px;
					margin-right: 5px;
					color: $primary-blue;
					&:hover { color: $hover-blue; }
					&:active { color: $active-blue; }
				}
			}						
		}
	}	
}   




/* 
	Main Content
	------------------------------------------------
*/
.twoColumnBody {
	#mainContent { 
		margin: 0 20px 0 26%;
	}	
} 

#innerMainContent {
	padding: 10px 50px;
} 

/* 
	Footer
	------------------------------------------------
*/
.twoColumnBody {
	#footer {
		padding: 0 10px; 
		background-color: $off-black; 
		text-align: right;
		border-top: 1px solid $primary-black;
		p {
			margin: 0; 
			padding: 10px 0; 
			color: $white;
		}	
	} 	
} 


/* 
	Miscellaneous classes for reuse
	------------------------------------------------
*/
.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}