#sidebar1::-webkit-scrollbar {
    width: 9px;
    background-color: #0073aa;
} 

#sidebar1::-webkit-scrollbar-thumb {
    background-color: #124964;
    border-radius:10px;
}

#ssidebar1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #0073aa;
}