/*
	@package rpg mobile friendly portfolio
*/

/*
	Variables
	------------------------------------------------
*/
$white : #FFFFFF;

$primary-black : #000000;
$off-black : #1F1F1F;
$lighter-off-black : #303030;

$primary-blue : #0073aa;
$hover-blue : #00a0d2;
$active-blue : #124964;